<%- include('header') -%>
  <div class="flex-container">
    <% articles.forEach(function(fm) { %>
      <div class="articleitems">
          <span>
            <a href=articles/<%= fm.attributes.slug %>>
              <% if (fm.attributes.image) { %> 
              <img src=/articles/<%= fm.attributes.image%>>
              <%} else { %>
                <img src=/static/blank.jpg>
              <% } %>
            </a>
          </span>
          <br>
          <span>
            <a href=articles/<%= fm.slug %> >
              <%= fm.attributes.title%>
            </a>
          </span>
          <span>
            <div>
              <%= fm.prettydate %>
            </div>
          </span>
      </div>
      <% }); %>
  </div>
  <%- include('footer') -%>

