<%- include('header') -%>
  <div class="flex-container">
    <% articles.forEach(function(fm) { %>
      <div class="articleitems">
        <div>
          <span>
            <a href=articles/<%= fm.slug %>>
              <% if (fm.image) { %> 
              <img src=/articles/<%= fm.image%>>
              <%} else { %>
                <div class="image-placeholder">
                </div>
              <% } %>
            </a>
          </span>
          <br>
          <span>
            <a href=articles/<%= fm.slug %> >
              <%= fm.title%>
            </a>
          </span>
          <span>
            <div>
              <%= fm.date %>
            </div>
          </span>
        </div>
      </div>
      <% }); %>
  </div>
  <%- include('footer') -%>

